<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
   <title>Five-OH!| Shorai Chirombo </title>
   <title>Document</title>
</head>
<body>
  <section class="info">
     <div class="info-container info-cont">
        <div class="info-close">
            <a href="/" class="overlay-close-link">
               <svg class="svg-close-w">
                  <use xlink:href="./images/sprite-close.svg#icon-close"></use>
               </svg>   
              </a>
         </div>
         <div class="info-para">
            Thank You for Submiting A confirmation.

            Shorai Chirombo will Contact you as quickly as possible!
         </div>
     </div>
     
  </section>
</body>
</html>