<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Five-OH!| Shorai Chirombo </title>

   <link href="https://fonts.googleapis.com/css?family=Merienda:400,700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Cormorant+Upright:400,700&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,700i&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,300,700&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="css/sweetalert2.css">
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <section class="home">
     
      <header class="header">
        <a href="#sidebar" class="header-close menu active">
         <svg class="svg-menu">
            <use xlink:href="./images/sprite-close.svg#icon-menu"></use>
         </svg>   
        </a>
        <a href="#sidebar" class="header-close close">
         <svg class="svg-close">
            <use xlink:href="./images/sprite-close.svg#icon-close"></use>
         </svg>   
        </a>
        <div class="header-center">
         <div class="heading">
            <div class="heading-1">
              Shorai Chirombo
            </div>
            <div class="heading-bars">
               <img src="./images/bars.png" alt="" class="bars">
            </div>
            <div class="heading-2">
               Celebrating The Big Five OH!
            </div>
            <div class="heading-bars">
               <img src="./images/bars.png" alt="" class="bars">
            </div>        
         </div>
         <div class="timer">
            <div class="timer-heading">
               Join us on Holiday in:
            </div>   
            <div class="timer-container">
            <div class="timer-time ">
               <span class="digit timer-days">00</span>
               <span class="label">Days</span>
            </div>
            <div class="timer-time ">
               <span class="digit timer-hours">00</span>
               <span class="label">Hours</span>
            </div>
            <div class="timer-time "> 
               <span class="digit timer-minutes">00</span>
               <span class="label">minutes</span>
            </div>
            <div class="timer-time ">
               <span class="digit timer-seconds">00</span>
               <span class="label">seconds</span>
            </div>
         </div>
       <div class="event">
         <a href="#sidebar" class="event-button">More Info</a>
         <p class="event-date">
            <span class="date-1">24.09.20</span>
            <span class="date-2">to</span>
            <span class="date-3">29.09.20</span>
         </p>
         <h6 class="event-place">Save the dates for Zanzibar</h6>
       </div>
        </div>
        </div>
      </header>
      <div class="sidebar" id="sidebar">
         <div class="sidebar-image">
            <img src="./images/profile.jpg" alt="Picture" class="pic">
            <p class="pic-text-1">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus deleniti repudiandae corporis dolor molestias dicta, cumque ipsa expedita rerum ullam.</p>

            <h3 class="heading-3 u-margin-top-m">Travel Dates</h3>
            <p class="pic-text u-margin-top-sm">24 - 29 September 2020 (5 Nights)</p>
            
         
           
         </div>
         <div class="sidebar-options">
            
            <h3 class="heading-3 u-margin-bottom-m">Please find below some suitable options:</h3>
           
            <!--First Option Paradise Beach Resort-->
            <div class="options-container options-container-1 u-margin-bottom-lg">
               <h5 class="options-text-1 u-margin-bottom-sm">
                  <span class="hotel-stars">

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>
                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
                  </svg>
                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
                  </svg>
              
                  </span>
                  <span class="hotel-name">PARADISE BEACH RESORT</span>
               </h5>
               <div class="options-pic">
                  <img src="./images/PBR-1.jpg" alt="Options Pic" class="options-pic-1">
                  <img src="./images/PBR-3.jpg" alt="Options Pic" class="options-pic-1">
                  <img src="./images/PBR-2.jpg" alt="Options Pic" class="options-pic-1">
               </div>
         
               <div class="options-text">
                  
                  <p class="options-text-2">
                     Package price per person sharing: R14 620.00 (AI)<br><br>
                     <b>PRICE INCLUDES:</b> Accommodation in a Standard Room<br>
                     Airfare Johannesburg - Zanzibar - Johannesburg<br>
                     South Africa air departure tax and air passenger tax <br>
                     Zanzibar air departure tax and Return airport transfers (seat-in-coach)
                     
                  </p>
               </div>
               <a href="#info" class="options-info">More info <span style="font-size: 2.1rem;"> &RBarr;</span> </a>
            </div>
            <!--End of Paradise Beach Resort-->


         <!-- Biginnig of Zanzibar bay resort -->
          <div class="options-container options-container-1 u-margin-bottom-lg">
               <h5 class="options-text-1 u-margin-bottom-sm">
                  <span class="hotel-stars">

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>
                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite-half.svg#icon-star_half'></use>
                  </svg>
                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
                  </svg>
              
                  </span>
                  <span class="hotel-name">ZANZIBAR BAY RESORT</span>
               </h5>
               <div class="options-pic">
                  <img src="./images/ZBR-1.jpg" alt="Options Pic" class="options-pic-1">
                  <img src="./images/ZBR-2.jpg" alt="Options Pic" class="options-pic-1">
                  <img src="./images/ZBR-3.jpg" alt="Options Pic" class="options-pic-1">
               </div>
         
               <div class="options-text">
                  
                  <p class="options-text-2">
                     Package price per person sharing: R13 970.00 (AI)<br><br>
                     <b>PRICE INCLUDES :</b>Accommodation (Standard Room)<br>
                     Airfare Johannesburg - Zanzibar - Johannesburg <br>
                     South Africa air departure tax and air passenger tax<br>
                     Zanzibar air departure tax<br>
                     Return airport transfers (seat-in-coach)


               </div>
               <a href="#info-1" class="options-info">More info <span style="font-size: 2.1rem;"> &RBarr;</span> </a>
            </div>

         <!--End Of Zanzibar bay -->


         <!--Beginig of My Blue Resort-->
          <div class="options-container options-container-1 u-margin-bottom-lg">
               <h5 class="options-text-1 u-margin-bottom-sm">
                  <span class="hotel-stars">

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>
                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>
                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
                  </svg>
              
                  </span>
                  <span class="hotel-name">MY BLUE RESORT</span>
               </h5>
               <div class="options-pic">
                  <img src="./images/MBR-1.jpg" alt="Options Pic" class="options-pic-1">
                  <img src="./images/MBR-3.jpg" alt="Options Pic" class="options-pic-1">
                  <img src="./images/MBR-2.jpg" alt="Options Pic" class="options-pic-1">
               </div>
         
               <div class="options-text">
                  
                  <p class="options-text-2">
                     Package price per person sharing: R16 790.00 (AI)<br><br>
                      <b>PRICE INCLUDES :</b>Accommodation (Standard Room)<br>
                     Airfare Johannesburg - Zanzibar - Johannesburg <br>
                     South Africa air departure tax and air passenger tax<br>
                     Zanzibar air departure tax<br>
                     Return airport transfers (seat-in-coach)
                  </p>
               </div>
               <a href="#info-2" class="options-info">More info <span style="font-size: 2.1rem;"> &RBarr;</span> </a>
            </div>

         <!--End of My Blue Resort-->


         <!--Begining of Uroa Bay-->
          <div class="options-container options-container-1 u-margin-bottom-m">
               <h5 class="options-text-1 u-margin-bottom-sm">
                  <span class="hotel-stars">

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>

                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>
                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star'></use>
                  </svg>
                  <svg class="hotel-svg-1">
                     <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
                  </svg>
              
                  </span>
                  <span class="hotel-name">UROA BAY</span>
               </h5>
               <div class="options-pic">
                  <img src="./images/UBR-1.jpg" alt="Options Pic" class="options-pic-1">
                  <img src="./images/UBR-3.jpg" alt="Options Pic" class="options-pic-1">
                  <img src="./images/UBR-2.jpg" alt="Options Pic" class="options-pic-1">
               </div>
         
               <div class="options-text">
                  
                  <p class="options-text-2">
                     Package price per person sharing: R13 970.00 (HB)<br>
                     Package price per person sharing: R15 730.00 (AI)<br><br>
                     <b>PRICE INCLUDES :</b>Accommodation (Standard Room)<br>
                     Airfare Johannesburg - Zanzibar - Johannesburg <br>
                     South Africa air departure tax and air passenger tax<br>
                     Zanzibar air departure tax<br>
                     Return airport transfers (seat-in-coach)
                  </p>
               </div>
               <a href="#info-3" class="options-info">More info <span style="font-size: 2.1rem;"> &RBarr;</span> </a>
            </div>
         <!--End of Uora-->

         <!--Paragraph Notice---->
         <div class="options-text u-margin-bottom-m">
            <h2 class="heading-3 u-margin-bottom-m" style="color: red;"><b>Please Note</b></h3>
                  <p class="options-text-2 " style="color:rgba(128, 41, 41, 0.76);text-align:left">
                     <b>PRICE EXCLUDES:</b>Visas ($50) obtained upon arrival in Zanzibar (not applicable to South African passport holders)<br><br>                     
                     Yellow Fever injections – No longer required by South African residents<br><br>
                     Zanzibar is a malaria area<br><br>
                     USD 1 per person per day new infrastructure tax imposed by the Zanzibar Revenue Board. This tax is charged directly on the hotel bill and payable to the hotel direct upon check out. Applicable to both adults and children<br><br>
                     R160 per person local fee is payable in advance for the complimentary Stone Town Shopping & Spice Experience
                  </p>
               </div>
         <!--End of Notice--->
         </div>
         <div class="sidebar-rsvp">
            <h3 class="heading-3 u-margin-bottom-m">Please RSVP to reserve a booking <br>Or Send an enquiry message</h3>
            
            <!--Form-->
            <form method="POST" action="sub" class="form" autocomplete="off" id="form">
               <label for="name" class="form-label" >Full Name</label>
               <input type="text"class="form-input" name="name" id="name" placeholder="Full Name" required>
               <label for="email" class="form-label">Email</label>
               <input type="email"class="form-input" name="email" id="email" placeholder="Example@gmail.com">
               <label for="number" class="form-label">Cell Number</label>
               <input type="text"class="form-input" name="number" id="number" placeholder="Cell Number">
               <label for="" class="form-label">Preffered Option</label>
               <select name="option" id="option" class="form-input" required>
                   <option value="" disabled selected hidden>Please Select...</option>
                  <option value="Paradise Beach Resort">Paradise Beach Resort</option>
                  <option value="Zanzibar Bay Resort">Zanzibar Bay Resort</option>
                  <option value="My Blue Resort">My Blue Resort</option>
                  <option value="Uroa Bay Resort">Uroa Bay Resort</option>
               </select>
               <textarea name="message" id="message" cols="1" rows="1" class="form-input form-textarea" placeholder="MESSAGE"></textarea>
               <button type="submit" class="form-button">Submit</button>
           </form>
            <!--End of Form-->
           <p class="trade">
             &copy;2020 &Ascr; K.Chirombo &trade;
           </p>
         </div>
      </div>

     
   </section>
   <!-------------------FirstSection------------->
      
<section class="info" id="info">
      <div class="info-container">
         <div class="info-close">
            <a href="" class="overlay-close-link">
               <svg class="svg-close-w">
                  <use xlink:href="./images/sprite-close.svg#icon-close"></use>
               </svg>   
              </a>
         </div>
        
         <h2 class="info-heading">
            <div class="hotel-stars">

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>
            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
            </svg>
            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
            </svg>
        
            </div>
            <div class="hotel-name">Paradise Beach Resort</div>
         </h2>
          <div class="info-images">
            <img src="./images/PBR-1.jpg" alt="Paradise pictures" class="options-pic-1">
            <img src="./images/PBR-3.jpg" alt="Paradise pictures" class="options-pic-1">
              <img src="./images/PBR-2.jpg" alt="Paradise pictures" class="options-pic-1">
         </div>
         <p class="info-text1 u-margin-m">
            Package price per person sharing: R14 620.00 (AI)                 
           <ul class="u-list">
              <li>All Inclusive: Breakfast, lunch & dinner. Selected drinks between 10:00 – 23:00 (coffee, tea, mineral water, dispenser juice, soda, house wine, local beer, local spirits and cocktails made with local spirits.</li>
              <li>Rate excludes: $10 per person per stay resort fee, payable directly in cash, which includes a beach towel per person per stay, use of the safety box, access to the fitness centre and 20% discount at the Spa & Wellness Centre. </li>
           </ul>
            
         </p>

         <h3 class="info-text1">
            COMPLIMENTARY STONE TOWN SHOPPING AND SPICE EXPERIENCE!
         </h3>
         <p class="info-text2">
            Your package includes a complimentary Stone Town Shopping & Spice Experience which operates on Mondays or Wednesdays.    There is a R160 per person local fee payable.   Please let us know if you wish to take advantage of this offer so that we may confirm your participation and add the local fee to your invoice.<br><br>
            <i><b>Book now, pay later special subject to standard terms and conditions. R1000 per person deposit is strictly non-refundable in case of cancellation. Final payment is due 8 weeks prior to departure date</b></i>
            
         </p>
      </div>
   </section>

   <!-------------------End of first--------------->
   


   <!-------------------Second Section------------->

   <section class="info" id="info-1">
      <div class="info-container">
         <div class="info-close">
            <a href="" class="overlay-close-link">
               <svg class="svg-close-w">
                  <use xlink:href="./images/sprite-close.svg#icon-close"></use>
               </svg>   
              </a>
         </div>
         <h2 class="info-heading">
            <div class="hotel-stars">

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>
            <svg class="svg-info">
               <use xlink:href='./images/sprite-half.svg#icon-star_half'></use>
            </svg>
            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
            </svg>
        
            </div>
            <div class="hotel-name">ZANZIBAR BAY RESORT</div>
         </h2>
         <div class="info-images">
            <img src="./images/ZBR-1.jpg" alt="Paradise pictures" class="options-pic-1">
            <img src="./images/ZBR-2.jpg" alt="Paradise pictures" class="options-pic-1">
              <img src="./images/ZBR-3.jpg" alt="Paradise pictures" class="options-pic-1">
         </div>
         <p class="info-text1 u-margin-top-m">
            Package price per person sharing: R13 970.00 (AI)<br><br>                    
           <ul class="u-list">
              <li><b>All Inclusive:</b> Breakfast, lunch & dinner. Selected drinks between 10:00 – 23:00 (coffee, tea, mineral water, dispenser juice, soda, house wine, local beer, local spirits and cocktails made with local spirits</li>
              <li><b>Rate excludes:</b> $10 per person per stay resort fee, payable directly in cash, which includes a beach towel per person per stay, use of the safety box, access to the fitness centre and 20% discount at the Spa & Wellness Centre</li>
           </ul>
           <br>
            
         </p>

         <h3 class="info-text1 u-margin-top-m">
            COMPLIMENTARY STONE TOWN SHOPPING AND SPICE EXPERIENCE!
         </h3>
         <p class="info-text2">
            Your package includes a complimentary Stone Town Shopping & Spice Experience which operates on Mondays or Wednesdays.    There is a R160 per person local fee payable.   Please let us know if you wish to take advantage of this offer so that we may confirm your participation and add the local fee to your invoice.<br><br>
            <i><b>Book now, pay later special subject to standard terms and conditions. R1000 per person deposit is strictly non-refundable in case of cancellation. Final payment is due 8 weeks prior to departure date</b></i>
            
         </p>
      </div>
   </section>
   <!-------------------End of Second--------------->


   <!-------------------Third Section------------->
   
<section class="info" id="info-2">
      <div class="info-container">
         <div class="info-close">
            <a href="" class="overlay-close-link">
               <svg class="svg-close-w">
                  <use xlink:href="./images/sprite-close.svg#icon-close"></use>
               </svg>   
              </a>
         </div>
         
         <h2 class="info-heading">
            <div class="hotel-stars">

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>
            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>
            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
            </svg>
        
            </div>
            <div class="hotel-name">MY BLUE RESORT</div>
         </h2>

         <div class="info-images">
            <img src="./images/MBR-1.jpg" alt="Paradise pictures" class="options-pic-1">
            <img src="./images/MBR-2.jpg" alt="Paradise pictures" class="options-pic-1">
              <img src="./images/MBR-3.jpg" alt="Paradise pictures" class="options-pic-1">
         </div>

         <p class="info-text1 u-margin-top-m">
            Package price per person sharing: R16 790.00 (AI)                  
           <ul class="u-list">
              <li><b>All Inclusive:</b> Includes welcome drink. Breakfast, lunch and dinner at the main restaurant with buffet service. Late light breakfast at the Pool Bar from 10:00 – 12:00. Cappuccino and coffee espresso is at an additional charge.</li>
              <li>Includes welcome drink. Breakfast, lunch and dinner at the main restaurant with buffet service. Late light breakfast at the Pool Bar from 10:00 – 12:00. Cappuccino and coffee espresso is at an additional charge.</li>
              <li>All international brands are at an extra cost. Minibar with daily refill with water and soft drinks. Tea time between 16:00 – 17:00 at the Pool Bar. Happy Hour from 18:00 – 19:00 at the Pool Bar or Beach Bar.</li>
           </ul>
            
         </p>

      <h3 class="info-text1 u-margin-top-m">
            COMPLIMENTARY STONE TOWN SHOPPING AND SPICE EXPERIENCE!
         </h3>
         <p class="info-text2">
            Your package includes a complimentary Stone Town Shopping & Spice Experience which operates on Mondays or Wednesdays.    There is a R160 per person local fee payable.   Please let us know if you wish to take advantage of this offer so that we may confirm your participation and add the local fee to your invoice.<br><br>
            <i><b>Book now, pay later special subject to standard terms and conditions. R1000 per person deposit is strictly non-refundable in case of cancellation. Final payment is due 8 weeks prior to departure date</b></i>
            
         </p>
      </div>
   </section>

   <!-------------------End of third--------------->


   <!-------------------ForthSection------------->
   
<section class="info" id="info-3">
      <div class="info-container">
         <div class="info-close">
            <a href="" class="overlay-close-link">
               <svg class="svg-close-w">
                  <use xlink:href="./images/sprite-close.svg#icon-close"></use>
               </svg>   
              </a>
         </div>
      
         <h2 class="info-heading">
            <div class="hotel-stars">

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>

            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>
            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star'></use>
            </svg>
            <svg class="svg-info">
               <use xlink:href='./images/sprite.svg#icon-star-outlined'></use>
            </div>

            <div class="hotel-name">UROA BAY</div>
         </h2>
            <div class="info-images">
            <img src="./images/UBR-1.jpg" alt="Paradise pictures" class="options-pic-1">
            <img src="./images/UBR-3.jpg" alt="Paradise pictures" class="options-pic-1">
              <img src="./images/UBR-2.jpg" alt="Paradise pictures" class="options-pic-1">
         </div>
         <p class="info-text1 u-margin-bottom-sm">
            Package price per person sharing: R13 970.00 (HB)
            Package price per person sharing: R15 730.00 (AI)                   
           <ul class="u-list">
              <li>Welcome cocktail; daily bottle of water in room; late breakfast at Bar Rafiki from 10:00 – 11:00; before dinner at 19:00 alcoholic and non-alcoholic aperitif with snack; complimentary Wi-Fi in common areas.</li>
              <li><b>HB :</b>Breakfast & dinner buffet</li>
              <li><b>All Inclusive(AI): </b>ABreakfast, lunch, dinner (meals are buffet), soft drinks, local beers, juices, selection of cocktails, selection of local alcoholic spirits, coffee/tea between 10:00 – 23:00.</li>
           </ul>
           
            
         </p>

         <h3 class="info-text1 u-margin-top-m">
            COMPLIMENTARY STONE TOWN SHOPPING AND SPICE EXPERIENCE!
         </h3>
         <p class="info-text2">
            Your package includes a complimentary Stone Town Shopping & Spice Experience which operates on Mondays or Wednesdays.    There is a R160 per person local fee payable.   Please let us know if you wish to take advantage of this offer so that we may confirm your participation and add the local fee to your invoice.<br><br>
            <i><b>Book now, pay later special subject to standard terms and conditions. R1000 per person deposit is strictly non-refundable in case of cancellation. Final payment is due 8 weeks prior to departure date</b></i>
            
         </p>
      </div>
   </section>

   <!-------------------End of forth--------------->
   
   <script src="./js/sweetalert2.all.js"></script>
   <script src="./js/alert.js"></script>
   <script src="./js/timer.js"></script>
   <script src="./js/menu.js"></script>
  
</body>
</html>

